---
layout: page
title: 
subtitle: Pyhton for Makers and Other Homonids
use-site-title: true
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}


<!-- Begin lemlist Sign Up Form -->
<div id="lemlist-embed-sign-up-div">
  <form action="https://app.lemlist.com/api/form/cam_i2a8umfTEhfCbTyv7" method="post" id="lemlist-embed-sign-up-form" name="lemlist-embed-sign-up-form" class="validate" target="_blank">
    <div class="lemlist-field-group">
      <label for="lemlist-email">Email Address</label>
      <input type="email" value="" name="email" id="lemlist-email" required>
    </div>
    <div class="lemlist-field-group">
      <label for="lemlist-firstName">First Name</label>
      <input type="text" value="" name="firstName" id="lemlist-firstName">
    </div>
    <div class="lemlist-field-group">
      <label for="lemlist-lastName">Last Name</label>
      <input type="text" value="" name="lastName" id="lemlist-lastName">
    </div>
    <div class="lemlist-clear">
      <input type="submit" value="Subscribe" name="subscribe" id="lemlist-embed-sign-up">
    </div>
  </form>
</div>
<!-- End lemlist Sign Up Form -->
    
